<div class="movie-detail" *ngIf="movie$ | async as movie">
  <div class="movie-detail__hero-image">
    <img [src]="movie.image.original" [alt]="movie.name">
  </div>
  <h2 class="mt-3">{{movie.name}} &#x2022; {{movie.runtime}} min</h2>
  <div [innerHTML]="movie.summary | safe:'html'"></div>

  <app-form-group-descripton
    label="Rating:"
    [description]="movie.rating.average || '0'">
  </app-form-group-descripton>

  <app-form-group-descripton
    label="Premiered:"
    [description]="movie.premiered">
  </app-form-group-descripton>

  <app-form-group-descripton
    label="Genre:"
    [description]="movie.genres | stringifyArray">
  </app-form-group-descripton>

  <br />
  <br />

  <h3>Casts</h3>
  <hr />
  <div class="row" *ngIf="movie._embedded.cast">
    <div class="col-12 col-lg-3" *ngFor="let cast of movie._embedded.cast">
      <img [src]="cast.person.image.medium" [alt]="cast.person.name" class="movie-detail__cast-picture"/>
      <p class="py-3">{{cast.person.name}}</p>
    </div>
  </div>
</div>